@{
    ViewData["Title"] = "Главная страница";
}

<section class="mainblock">
    <img class="backgroung" src="images/back.png" alt="фон сайта" />
    <div class="headline">
        <h1 class="title">
            Создайте своё
            онлайн портфолио
        </h1>
        <h3 class="ptext">
            Самый простой и быстрый способ
            показать свои работы
        </h3>
        <a asp-area="" asp-controller="User" asp-action="Registration" class="create" id="border">Создать портфолио</a>
    </div>
</section>