<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap" rel="stylesheet">
    <link href="~/css/normalize.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <title>@ViewData["Title"] - Portfolio</title>
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="name" asp-area="" asp-controller="Home" asp-action="Index">Digital Portfolio</a>
            <ul class="menu">
                <li class="menu-item">
                    <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Resume">Резюме</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Portfolio">Портфолио</a>
                </li>
            </ul>
            <ul class="log">
                <li class="log-item">
                    <a class="login" asp-area="" asp-controller="User" asp-action="Login">Вход</a>
                </li>
                <li class="log-item">
                    <a class="register" asp-area="" asp-controller="User" asp-action="Registration">Регистрация</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div>
    <main class="main">
        @RenderBody()
    </main>
</div>

</body>
</html>