<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Portfolio</title>

</head>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="#" class="name">Digital Portfolio</a>
            <ul class="menu">
                <li class="menu-item">
                    <a href="#" class="menu-link">Резюме</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Портфолио</a>
                </li>

            </ul>
            <ul class="log">
                <li class="log-item">
                    <a href="#" class="login">Вход</a>
                </li>
                <li class="log-item">
                    <a href="#" class="register">Регистрация</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div>
    <main class="main">
        @RenderBody()
    </main>
</div>

</body>
</html>